
commons/target/

commons/\.settings/

commons/\.classpath

commons/\.project

ms/\.settings/

ms/target/

ms/src/\.DS_Store

ms/\.classpath

ms/\.DS_Store

ms/\.project

ms/\.tern-project

ms/src/test/\.DS_Store

ms/src/main/\.DS_Store

\.DS_Store
/.metadata/

\.recommenders/

RemoteSystemsTempFiles/
